# Dependências
node_modules/
jspm_packages/
bower_components/

# Diretórios de build
.next/
out/
dist/
build/
coverage/
.nyc_output/

# Cache
.cache/
.pnpm-debug.log*
.parcel-cache
.temp
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_*/
.web_modules/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/

# VSCode
.vscode-test

# Arquivos temporários e logs
*.log
*.tsbuildinfo
*.tgz
*.pid
*.seed
*.pid.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.*.json
.lock-wscript
.node_repl_history
.tern-port

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivo gerado automaticamente
pages/model.tsx
